NODE_ENV=
PORT=
CLIENT_URL=
SERVER_URL=

#-------------------------------------------------
# Database

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_PASSWORD=
DATABASE_USER=
DATABASE_NAME=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_SYNCHRONIZE=
DATABASE_URL=

#--------------------------------------------------
# Pgadmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

#--------------------------------------------------
# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_DB=

#--------------------------------------------------
# Email option
# Using with nodemailer
SMTP_SERVER=
SMTP_EMAIL=
SMTP_PASSWORD=
SMTP_FROM_NAME=
SMTP_FROM_EMAIL=

#---------------------------------------------------
# Jwt options
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
JWT_ALGORITHM=
# 2h
JWT_EXPIRATION_TIME=
# 30 day
JWT_REFRESH_TOKEN_EXPIRATION_TIME=
JWT_SECRET=
JWT_REFRESH_TOKEN_SECRET=

# Graphql options
GRAPHQL_PLAYGROUND=

# Session
SESSION_SECRET=
